.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* unvisited link */
a:link {
  color: #2978b5;
}

/* visited link */
a:visited {
  color: #8ab6d6;
}

/* mouse over link */
a:hover {
  color: #51c4d3;
}

/* selected link */
a:active {
  color: blue;
}